body{
    background-color: rgb(243, 13, 109);
}


.test_image_and_result1,.test_image_and_result2, .test_image_and_result3, .test_image_and_result4, .test_image_and_result5{
    background-color: rgb(247, 184, 218);
    border-radius: 20px;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
}

.result{
    background-color: hotpink;
    border-radius: 20px;
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
}
